#info {
   position: absolute;
   height: 1px;
   width: 1px;
   z-index: 100;
}

#menue {
	width: 100%;
	height: 20%;
  background-color: white;
  padding-bottom: 18px;
  padding-top: 18px;
	text-align: center;
}

button {
	border-style: solid;
	border-width: 2px;
	border-color: white;
  background-color: white;
	color: black;
	font-size: 1.3em;
	text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#headerImg{
  margin: 0 auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@media (max-width: 590px) {
  button{
    width: 80%;
    margin-top: 5px;
  }
}
